/* ------- General ------- */
*{
  padding:0;
  margin:0;
  font-family: "Montserrat", sans-serif;
}
/* ----------------------- */
/* ------- Header Content ------- */
.container__principalHeader{
  width:100vw;
  height:8vh;
  background-color: rgb(255, 138, 8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__contentHeader{
  width:67%;
  display:flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.header__searchPanel{
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap:1vh;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding:0.4rem;
  outline: none;
  font-size: 1.9vh;
  width:20vw;
  height:2.6vh;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);;
}

.buttonSearch{
  border:1px solid black;
  background-color: transparent;
  border-radius: 0.4rem;
  padding:0.2rem;
  width:7vw;
  height: 4.9vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.buttonSearch:hover{
  cursor:pointer;
  background-color: rgb(252, 167, 88);
  transition: .25s ease;
}

.header__addElementButton{
  border:1px solid black;
  background-color: transparent;
  border-radius: 0.4rem;
  padding:0.2rem;
  width:8.5vw;
  font-size: 1.9vh;
  height: 4.9vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.header__addElementButton:hover {
  cursor:pointer;
  background-color: rgb(252, 167, 88);
  transition: .25s ease;
}

/* ------- Main ------- */
.main__containerView{
  display:grid;
  grid-template-columns: 0.17fr 0.83fr;
}

.listAside{
  background-color: rgb(255, 193, 0);
  height: 92vh;

}

/* STORE */
.store{
  background-color: rgb(196, 12, 12);
  max-height: 92vh;
  overflow-y: auto;
  width:100%;
}

.sectionStore{
  background-color: whitesmoke;
  margin:1rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:1rem;
}

.containerTitleSection{
  margin:0.68rem;
  font-size: 4vh;
  border-bottom: 2px solid grey;
}

.containerProductStore{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 0.6fr);
  gap:2vh;
  padding: 0.4rem;
}

.containerTargetItem{
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:1.4rem;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.25);
  border-radius: .4rem;
}

.containerTargetItem:hover{
  cursor:pointer;
  transform: scale(1.08);
  transition: .23s ease;
}


.containerTargetItem h2{
  font-size: 2.9vh;
  text-align: center;
  padding: 0.4rem;;
}

.targetProps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2.6vh;
  width: 100%;
}

.sectionStore img {
  width: 160px;
  height: 140px;
  border-radius: .4rem;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

/* Elementos del listAside */
.listAside{
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

.listAside h2{
  margin-top: 2vh;
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  padding:0.4rem;
}

.listAside ul{
  margin-top: 4vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap:1vh;
}

.listAside ul li{
  font-size: 2.25vh;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.listAside ul li:hover{
  cursor: pointer;
  background-color: rgb(255, 138, 8);
  border: 0.7px solid black;
}

.liActive{
  background-color: rgb(241, 121, 7) ;
  color:gainsboro
}
/* -------------------- */

/* ------- PopUp ------- */
.popUpContainer__principal{
  width:100vw;
  height: 100vh;
  position:absolute;
  top:0;
  left:0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);

}

.popUpContainer{
  width:40vw;
  height: 70vh;
  background-color: whitesmoke;
  box-shadow: 5px 2px 7px 7px rgba(0,0,0,0.4);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerTitle__Popup{
  width: 100%;
  text-align: center;
}

.containerInputs__Popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
}

.containerInputs__Popup input{
  width:60%;
  border:1px solid grey;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.containerInputs__Popup select{
  width:60%;
  border:1px solid grey;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.containerButtons__Popup{
  width:100%;
  display: flex;
  justify-content:space-evenly;
}

.buttonPopup{
  padding:0.6rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2vh;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
}

.cancel{
  background-color: grey;
}

.cancel:hover{
  cursor: pointer;
}

.accept{
  background-color: rgb(122, 243, 10);
}

.accept:hover{
  cursor: pointer;
}

.delete{
  background-color: rgba(235, 12, 12, 0.943);
}

.delete:hover{
  cursor: pointer;
}

/* Media-Queries */

@media screen and (min-width:1280px){
  .containerProductStore{
    grid-template-columns: repeat(4, 0.6fr);
  }
  
  .containerTargetItem{
    width: 15vw;
  }
}

/* Scrollbar */

::-webkit-scrollbar{
  width: 0.6rem;
  background-color: white;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(241, 121, 7);
  border-radius: 0.4rem;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(255, 185, 120);
  border-radius: 0.4rem;
  transition: 0.9s ease-in;
}